/* Common styles*/
/*h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
*/

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  /*padding-left: 0;*/
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  /*min-width: 144px;*/
  /*height: 144px;
  display: block
  margin right: auto
  margin left: auto*/
  cursor: pointer;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  /*border: none;*/
}

button:hover,
button:focus {
  background: #404bbf;
}

img {
  /* display: block;*/
}

/*.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-paddings {
  padding-top: 120px;
  padding-bottom: 120;
}*/

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

/*.page-header {
display flex
margin-right
}*/

.logo-top {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.color-black {
  color: #2e2f42;
}

.logo-down {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.color-studio {
  color: #f4f4fd;
}

/*.menu {
  display: flex;
  column-gap: 40px;
}*/

.menu-link {
  /*display: block;*/
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

/* Mai styles*/
.contact {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact:hover,
.contact:focus {
  color: #404bbf;
}

.mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.mail:hover,
.mail:focus {
  color: #404bbf;
}

/*.container-hero {
padding top
padding botom
padding left
padding right 
backround-color
}*/

.block-one {
  /*padding-bottom: 60px;*/
  background: #2e2f42;
}
.hero {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  /*text-align: center;*/
  color: #ffffff;
}

.block-three {
  background-color: #f4f4fd;
}

.team {
  background-color: #ffffff;
}

.title-two {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /*text-align: center;*/
  color: #2e2f42;
}

.title-three {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /*text-align: center;*/
  color: #2e2f42;
  background-color: #ffffff;
}
.text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.text-team {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

.footer {
  background-color: #2e2f42;
}
.text-footer {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
